#contacts {
	width: 600px;
	margin-top: 15px;
}

	#contacts #add-row {
		background-color: #eee;
	}

		#contacts #add-row div {
			width: 175px;
			float: left;
		}

		#contacts #add-row div.last {
			width:50px;
		}

	#contacts label {
		display: block;
		font-weight: bold;
	}

	#contacts input[type="text"] {
		width: 170px;
	}

	#contacts #contact-list div.last,
	#contacts #contact-list div.first,
	#contacts #contact-list div.email {
		width: 175px;
	}

	#contacts #contact-list div.button {
		width: 50px;
	}
